body {
  margin: 0;
  font-family: sans-serif;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.content table,
td,
th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.content table {
  width: 50%;
  border-collapse: collapse;
}
